body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
}
span {
  color: #ffad5a;
}
.misstion-22__border-left {
  border-left: 7px solid;
  border-image: linear-gradient(#ff5959, #ffad5a);
  border-image-slice: 1;
  padding-left: 10px;
}
.mission-2022 {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
}
.half-width {
  width: 50%;
}
.img-right {
  width: 400px;
  display: block;
  margin-left: 35%;
}
a {
  display: inline-block;
  margin: 20px 0px;
}
.anchor-link {
  background-color: #ff5959;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
}
.my-mission-title {
  text-align: center;
}
.my-mission {
  display: flex;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 100px;
}
.my-mission-item {
  width: 32%;
  margin-left: 4%;
  border-radius: 5px;
  padding: 20px 20px;
}
.card-img {
  width: 100px;
}
#card-lightblue {
  background-color: #edf5f6;
  box-shadow: 10px 10px 40px lightgray;
}
#card-light2 {
  background-color: #ffeeee;
  box-shadow: 10px 10px 40px lightgray;
}
#card-light3 {
  background-color: #fff4d6;
  box-shadow: 10px 10px 40px lightgray;
}
.img-left {
  width: 400px;
  display: block;
  margin-right: 35%;
}

.work-info {
  display: flex;
}
.work-info img {
  width: 80px;
  height: 80px;
  display: inline-block;
  margin-top: 50px;

  margin: 0 auto;
}
.single-item {
  width: 32%;
  text-align: center;
}
footer {
  min-height: 70px;
  background-color: #0b0d17;
  text-align: center;
}
.footer-title {
  color: #ffffff;
  font-style: italic;
  line-height: 40px;
  padding-top: 30px;
}
.red-title {
  color: #ff5959;
}
.footer-text {
  color: #ffffff;
  padding-bottom: 30px;
}
